@media only screen and (min-width: 1440px) {
  mat-nav-list a {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 901px) {
  mat-sidenav-container {
    height: calc(100vh - 41px);
  }
  mat-nav-list {
    padding-top: 0;
  }
  mat-nav-list a {
    width: auto;
    font-size: 14px;
  }
  mat-nav-list a:hover {
    background-color: #0076c4;
    color: #ffffff;
  }
}

@media only screen and (max-width: 900px) {
  .info-empresa,
  .info-usuario {
    font-size: 16px;
  }
  #btn-menu {
    display: none;
  }
  mat-sidenav-container {
    display: flex;
    flex-direction: column;
  }
  mat-sidenav {
    position: relative;
    border-bottom: 1px solid #000000;
  }
  mat-sidenav-content {
    margin-left: 0 !important;
  }
  mat-nav-list {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  mat-nav-list a {
    font-size: 14px;
    padding: 5px 0;
    height: 50px !important;
  }
}

.spacer {
  flex: 1 1 auto;
}
.sidenav-btn {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.modulos-container {
  padding-top: 5px;
}
.modulo-activo {
  background-color: #0076c4 !important;
  color: #ffffff;
}
.item-seleccionado {
  background-color: #009bd7 !important;
  color: #ffffff;
}
mat-toolbar {
  background: #0076c4;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  height: auto;
}
mat-nav-list a {
  margin: 5px;
  border-radius: 5px;
}
mat-sidenav {
  background: #f0f0f0;
}
.mat-drawer-content {
  overflow: hidden;
}
.logo-plataforma {
  position: relative;
  left: 5%;
  width: 200px;
  margin: 20px 0;
}
