<div class="container">
  <table
    mat-table
    [dataSource]="datosOptimizacion"
    class="mat-elevation-z5 tabla-resultado"
  >
    <ng-container matColumnDef="rutero">
      <th mat-header-cell *matHeaderCellDef>Rutero</th>
      <td mat-cell *matCellDef="let dato">{{ dato.rutero }}</td>
    </ng-container>
    <ng-container matColumnDef="dia_logistico">
      <th mat-header-cell *matHeaderCellDef>Día logístico</th>
      <td mat-cell *matCellDef="let dato">{{ dato.dia_logistico }}</td>
    </ng-container>
    <ng-container matColumnDef="saturacion">
      <th mat-header-cell *matHeaderCellDef>Saturación ruta</th>
      <td mat-cell *matCellDef="let dato">{{ dato.saturacion }}%</td>
    </ng-container>
    <ng-container matColumnDef="tiempo">
      <th mat-header-cell *matHeaderCellDef>Tiempo total</th>
      <td mat-cell *matCellDef="let dato">{{ dato.tiempo }} minutos</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnasTablaResultado"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTablaResultado"></tr>
  </table>
  <div class="mapa"></div>
</div>
