@media only screen and (min-width: 769px) {
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Sans-Serif;
    padding: 0;
    margin: 0;
  }

  .breadcrumb li {
    float: left;
    color: #ffffff;
    padding: 10px 0 10px 65px;
    background: #009bd7;
    position: relative;
    display: block;
  }

  .breadcrumb li::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #009bd7;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

  .breadcrumb li::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
  }

  .separador {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 12px Sans-Serif;
    padding: 0;
    margin: 0;
  }

  .breadcrumb li {
    float: left;
    color: #ffffff;
    padding: 10px 0 10px 65px;
    background: #009bd7;
    position: relative;
    display: block;
  }

  .breadcrumb li::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #009bd7;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

  .breadcrumb li::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
  }

  .separador {
    margin-top: 4px;
  }
}

.btn-descarga {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  padding-top: 1.5px;
}

.btn-obtener {
  background-color: #009bd7;
  color: #ffffff;
}
