mat-accordion {
  width: auto;
}
mat-expansion-panel {
  background: #009bd7;
}
mat-panel-title {
  color: #ffffff;
}
::ng-deep .mat-expansion-indicator::after {
  color: #ffffff;
}
img {
  padding: 20px;
}
p {
  text-align: left;
}
.formulario-manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario-masivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ancho {
  width: 20%;
}
.btn-manual {
  width: 20%;
  height: 50px;
  background-color: green;
  color: #ffffff;
}
.btn-servicio {
  width: 20%;
  height: 50px;
  background-color: #0076c4;
  color: #ffffff;
}
.btn-remover {
  width: 20%;
  height: 50px;
  background-color: #ee161f;
  color: #ffffff;
}
.btn-masivo {
  width: 150px;
  height: 50px;
  background-color: green;
  color: #ffffff;
  margin-top: 10px;
}
.clientes-nuevos {
  text-align: center;
}
.ingreso-masivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control {
  padding: 10px 0;
  width: 50%;
}
.tipo-ingreso {
  padding: 20px 0;
}
.input-personalizado {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.cargar-archivo {
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #ffffff;
}
.formato-tabla {
  width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

app-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientes-nuevos {
  text-align: center;
  height: 85vh;
  overflow-y: auto;
}


@media only screen and (max-width: 900px) {
  .info-nota-venta,
  .info-cliente,
  .info-visita {
    width: 90%;
  }
  .info-nota-venta .fila-1,
  .info-cliente .fila-1,
  .info-cliente .fila-2,
  .info-visita .fila-1,
  .info-visita .fila-2 {
    display: flex;
    flex-direction: column;
  }
  .info-nota-venta mat-form-field,
  .info-cliente mat-form-field,
  .info-visita mat-form-field {
    width: 100%;
    margin: 5px;
  }
  .nombre-archivo {
    width: auto;
    padding: 10px 0 0 0;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-servicio mat-form-field {
    margin: 5px;
  }
}

@media only screen and (min-width: 901px) {
  span {
    padding-left: 10px;
    width: 0%;
  }
  .form-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fila-1,
  .fila-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .info-nota-venta,
  .info-cliente,
  .info-visita {
    width: 80%;
  }

  .info-nota-venta mat-form-field,
  .info-cliente mat-form-field,
  .info-visita mat-form-field,
  .info-servicio mat-form-field {
    margin: 5px;
  }

  .info-nota-venta mat-form-field,
  .info-cliente mat-form-field,
  .info-visita mat-form-field {
    width: 50%;
  }
}
