table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

table td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
