html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #0076c4 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0076c4 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0076c4;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #0076c4;
}
